body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 10px auto; /* Centra horizontalmente */
    border-radius: 5px;
    text-align: center; /* Centra el texto */
    max-width: 400px; /* Limita el ancho para que se vea mejor */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: un poco de sombra para destacar */
}


@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .container{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .container div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .input{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .button{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .button:hover{
        position: relative;
    }
}