body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f8ff; /* Fondo claro */
    color: #003366; /* Texto azul oscuro */
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1300px;
}

.caja {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.contenedor {
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hastaInput {
    position: relative;
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.desdeInput {
    position: relative;
    left: 5px;
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buscarInput {
    position: relative;
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.boton {
    padding: 8px;
    width: 15%;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #4082b8;
    color: white;
    border-radius: 5px;
}

.boton:hover {
    background-color: #3e99c4;
}

.boton:active {
    background-color: rgb(26, 110, 235);
}

.tabla-resultados {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tabla-resultados th, .tabla-resultados td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.tabla-resultados th {
    background-color: #4082b8;
    color: white;
    text-transform: uppercase;
}

.tabla-resultados tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-resultados tr:hover {
    background-color: #eaf2f8;
}

/* Contenedor ajustado */
.resultado {
    max-width: 700px;
    margin: 20px auto 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

