body {
    font-family: sans-serif;
    background-color: #d6eaf8;

}

h1 {
    text-align: center;
}

.contenedor {
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hastaInput {
    position: relative;
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.desdeInput{
    position: relative;
    left: 5px;
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.buscarInput{
    position: relative;
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.boton {
    padding: 8px;
    width: 15%;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #4082b8;
    color: white;
    border-radius: 5px;
   
}

.boton:hover {
    background-color: #3e99c4;
}

.boton:active {
    background-color: rgb(26, 110, 235);
}